.mainGrid {
    width: 100vw;
    height: 100vh;
}

.memeclubTitle {
    display: block;
    font-size: 60px;
    text-align: justify;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.logoContainer {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: 'center';
}

.loginFormContainer {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: 'center';
}

.loginBackground {
    background-image: url("./Background.svg");
    background-size: 100vw auto;
    background-repeat: no-repeat ;
    orientation: inherit;
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
    background-image: none;
    background-color: #084a74;
  }
}