.loginText {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: black;
    float: left;
}

.loginForm {
    width: 320px;
    background-color: white;
    border-radius: 16px;
    padding: 16px;
}

.warningText {
    color: orangered;
    text-align: center;
}